.trips-list {
    max-width: 900px;
    margin: 40px auto;
}

.filters-button {
    padding-right: 20px;
}

.form-section-title {
    margin-bottom: 1rem;
}

.input-date {
    display: flex;
    align-items: center;
    justify-content: start;
}

.counter__section {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-visibility {
    width: 200px;
}

.toolbar-container {
    flex-wrap: wrap;
    align-items: center;
}

.grid-listing-toggle-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.grid-listing-toggle {
    max-width: 200px;
}

