<ion-header>
  <ion-toolbar class="mobile-toolbar">
    <ion-buttons slot="start" class="hidden-desktop">
      <ion-button fill="clear" color="medium" (click)="openTripMenu()"><ion-icon name="options-outline"></ion-icon><span>&nbsp;Настройки</span></ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="hidden-desktop">
      <ion-button fill="clear" shape="round" color="primary"><ion-icon name="radio-button-on-outline"></ion-icon>&nbsp;Сохранить</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="day-page">

  <ion-header collapse="condense">
    <ion-toolbar class="toolbar-trips">
      <ion-title size="large">
        <div class="page-title-actions">
          <span class="page-title editable" contenteditable>Трек к базовому лагерю Эвереста</span>&nbsp;
          <ion-button fill="solid" shape="round" color="primary" class="hidden-mobile">Сохранить</ion-button>
        </div>
        <ion-text color="medium"><div class="saved-time">Сохранение 4 марта в 13:25</div></ion-text>
      </ion-title>

      <ion-buttons slot="end" class="hidden-mobile">
        <ion-button fill="outline" color="medium" (click)="openTripMenu()"><ion-icon name="options-outline"></ion-icon><span>&nbsp;Настройки</span></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="gap"></div>

  <div class="days">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="5" sizeXl="3">
          <ion-list>
            <div class="dates">
              14 Мар, 2024 - 21 Мар, 2024
            </div>
            <ion-item-divider color="light">
              <ion-label>маршрут</ion-label><ion-button fill="clear" size="small"><ion-icon name="add-outline"></ion-icon>&nbsp;добавить день</ion-button>
            </ion-item-divider>
            @for(day of days; track day.id; let i = $index){
              <ion-item [color]="day.active ? 'light' : ''" [ngClass]="{'active-day': day.active}" button (click)="selectDay(i)">
                <ion-avatar aria-hidden="true" slot="start">
                  <img [src]="day.image" />
                </ion-avatar>
                <ion-label>
                  <!-- <ion-badge slot="start">День {{i+1}}</ion-badge> -->
                  <h2>{{day.title}}</h2>
                  <p>{{day.date}}</p>
                  <!-- <ion-badge color="light">{{day.date}}</ion-badge> -->
                </ion-label>
              </ion-item>
            }
          </ion-list>
          <div class="gap"></div>
        </ion-col>

        <ion-col size="12" sizeMd="7" sizeXl="6">
          <ion-list>
            <ion-item-divider color="light">
              <ion-label>описание</ion-label>
            </ion-item-divider>
          </ion-list>
          <div class="day ion-padding">
            <ion-input mode="md" label="Название дня" labelPlacement="floating" fill="outline" type="search" [value]="day.title" clearInput size="large" color="primary"></ion-input>
            <div class="gap"></div>
            <ion-textarea mode="md" label="Описание дня" labelPlacement="floating" fill="outline" rows="10" [counter]="true"
            maxlength="500" [value]="day.description" color="primary"></ion-textarea>
          </div>

          <ion-list>
            <ion-item-divider color="light">
              <ion-label>фото тура</ion-label>
            </ion-item-divider>
          </ion-list>

          <div class="gallery ion-padding">
            <ion-row>
              @for(image of day.images; track image){
                <ion-col>
                  <img [src]="image"/>
                </ion-col>
              }
            </ion-row>
            <div class="text-right">
              <ion-button size="small" fill="outline"><ion-icon name="add-outline"></ion-icon>&nbsp;добавить</ion-button>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" sizeMd="6" sizeXl="3">
          <ion-list>
            <ion-item-divider color="light">
              <ion-label>данные тура</ion-label>
            </ion-item-divider>
          </ion-list>

          <div>

            <ion-list [inset]="true">
              <ion-item color="light">
                <ion-label>Дата</ion-label>
                <ion-badge color="light">{{day.date}}</ion-badge>
              </ion-item>
              <ion-item color="light">
                <ion-toggle>
                  <ion-label>Питание</ion-label>
                  <ion-text color="medium"><small>Все питание во время поездки</small></ion-text>
                </ion-toggle>
              </ion-item>
            </ion-list>

            <ion-list [inset]="true">
              <ion-item color="light">
                <ion-label>
                  Часы ходьбы<br />
                  <ion-note class="ion-text-wrap">5-8 часов</ion-note>
                </ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-label>
                  Минимальный возраст<br />
                  <ion-note class="ion-text-wrap">12</ion-note>
                </ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-label>
                  Максимальная высота<br />
                  <ion-note class="ion-text-wrap">5,416 метров</ion-note>
                </ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-label>
                  Язык<br />
                  <ion-note class="ion-text-wrap">английский, испанский</ion-note>
                </ion-label>
              </ion-item>
              <ion-item color="light">
                <ion-label>
                  Wi-Fi<br />
                  <ion-note>Доступный</ion-note>
                </ion-label>
              </ion-item>
            </ion-list>
            <div class="text-right ion-padding">
              <ion-button size="small" fill="outline"><ion-icon name="add-outline"></ion-icon>&nbsp;добавить</ion-button>
            </div>
            

            <!-- <ion-datetime-button datetime="datetime"></ion-datetime-button> -->
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>

          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
